.monitor-item-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  text-align: left;
  height: 100%;
}

.btn-center {
  display: flex;
  height: 100%;
  justify-content: center;
}

.btn-center button {
  align-self: flex-end;
  height: 40px;
}

.card-header {
  justify-content: center;
}
.card-title {
  text-align: center;
  margin: 8px auto;
}

.card-content > * {
  font-size: 16px;
}
