<div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register Account</mat-card-title>
    </mat-card-header>
    <div *ngIf="errors.length">
      <mat-error *ngFor="let error of errors">{{ error }}</mat-error>
    </div>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Enter Name"
            required
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Enter email"
            required
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
            required
          />
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="accent" class="btn-block">
        Register
      </button>
    </form>
  </mat-card>
</div>
