.monitor-container {
  background-color: #6bbf62;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

app-monitor-item {
  grid-row: 1fr;
}

.btn-monitor {
  margin: 10px;
}
